<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pokemon Search App</ion-card-title>
      <ion-card-subtitle>Blog第一弾</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        こんにちは。
      </p>
      <br> <!-- CSSでデザインを治 -->
      <p>
        <font color="red">※</font> このアプリは最新のポケモンに対応していません。
      </p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <h1>履歴</h1>
  </ion-item>

  <ion-card *ngFor="let pokemon of history">
    <ion-card-header>
      <ion-card-title>{{pokemon_name[pokemon.name]}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="{{pokemon.sprites.front_default}}">
    </ion-card-content>
  </ion-card>
</ion-content>